@charset "utf-8";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 20px 15%;
}
form header {
  margin: 0 0 20px 0;
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}

form > div > fieldset label {
     font-size: 90%;
}
fieldset {
     border: 0;
  padding: 0;
}


input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

/*
[예제풀이]
1. 해상도가 640미만일 때 레이블과 입력내용이 1컬럼이 되고
2. input[text], select 요소가 해상도에 꽉차게 할 것
*/

@media screen and (max-width:640px) {
  form > div > label,
  legend {
    width:100%;
  }
 
  form > div > div,
  form > div > fieldset > div {
    width:100%;
  }
 
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  select {
    width:100%;
  }
}

@media screen and (min-width:640px) {
  form > div > label,
  legend {
    width: 25%;
    float: left;
    padding-right: 10px;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 75%;
    float: right;
  }
 
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password] {
    width: 50%;
  }
}
